@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;

}

/* Hero part */

.hero {
    background-color: #1F2937;
    padding: 0px 120px;
}
.hero-content {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.left-content > button {
    background-color: #3882F6;
    border:none;
    color:#F9FAF8;
    margin-top: 8px;
    padding: 6px 20px;
    border-radius: 6px;
    font-weight:bold;
}
button:hover {
    cursor:pointer;
}
.hero-content > img {
    width: 300px;
    border-radius: 10px;
}
.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}
.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}
.left-content {
    max-width: 400px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header > ul {
    display: flex;
    gap: 1rem;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Illustration part */

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.illustration .title {
    margin-top: 48px;
    font-size: 36px;
    font-weight: bolder;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 24px 0;
}

.card > img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.caption {
    width: 100px;
}

/* quote section */

.quote {
    margin: 48px 0;
    background-color: #E5E7EB;
    padding: 80px 100px;
    color: #1F2937;
}
.quote-content {
    font-style: italic;
    font-size: 32px;
}

.author {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
    
}

/* call to action section */
.signup-card {
    background-color: #3882F6;
    color:#F9FAF8;
    margin:48px 70px;
    padding: 36px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.primary-text {
    font-size: 18px;
    font-weight: bold;
}

.signup-card > button {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    color: #F9FAF8;
    margin-top: 8px;
    padding: 6px 20px;
    border-radius: 6px;
    font-weight:bold;
}

/* footer section */
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}